@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "variables";

// Reset styles
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-color: $bg-color;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}

a {
  text-decoration: none;
  color: $link-color;
}

.container {
  max-width: 1190px;
  margin: 25px;
}

section {
  padding: 50px 0;
}

// Navbar
.navbar-container {
  a {
    color: $link-color;
    font-size: 16px;
  }
}

.menu {
  display: flex;
  justify-content: center;

  li {
    // margin-right: 12px;
    padding: 10px;
  }

  a {
    font-weight: 600;

    &:hover {
      border-bottom: 1px solid black;
      color: $hover-color;
    }
  }
}

.logo {
  cursor: pointer;
  font-weight: 700;
  color: $heading-color;
  text-align: center;
  a {
    color: $heading-color;
    font-size: 30px;

    &:hover {
      color: $logo-hover;
    }
  }
}

// Hero section
h1 {
  font-weight: 600;
  font-size: 50px;
}
