@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "variables";

// Reset styles

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // setting the root font size to be used with rem
  scroll-behavior: smooth;
}

body {
  background-color: $bg-color;
  color: $text-color;
  box-sizing: border-box;
  line-height: 1.7;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $white-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: $hover-color;
  }
}

i {
  color: $text-color;
}

p {
  font-size: 1.6rem;
  color: $text-color;
}

.container {
  max-width: 119rem;
  margin: 2.5rem auto;
}

.break {
  display: block;
}

.bold {
  font-weight: 700;
  letter-spacing: 1.1;
}

.underline {
  text-decoration: underline;
}

section {
  padding: 5rem 0;
}

// Navbar
.navbar__container {
  display: flex;
  justify-content: space-between;
  a {
    font-size: 1.6rem;
  }
}

.navbar__menu {
  display: flex;
  // justify-content: center;

  li {
    // margin-right: 12px;
    padding: 1rem;
  }

  a {
    font-weight: 600;

    &:hover {
      border-bottom: 1px solid black;
    }
  }
}

.navbar__logo {
  cursor: pointer;
  font-weight: 700;
  color: $white-color;
  text-align: center;
  a {
    color: $white-color;
    font-size: 3rem;

    &:hover {
      color: $logo-hover;
    }
  }
}

// Hero section
h1 {
  font-weight: 600;
  font-size: 6rem;
  line-height: 7rem;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: $hero-gap;
}

.hero__copy {
  width: 42rem;
  line-height: 1.5;

  p {
    font-size: 1.9rem;
    line-height: 3.5rem;
    letter-spacing: 0.7;
  }
}

.hero__cta-buttons {
  margin: 10px 0;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(1rem);
  }
}

.chevron-container {
  display: block;
  text-align: center;
  animation: updown infinite alternate 1.5s ease-in-out;

  i {
    font-size: 15px;
  }
}

.btn {
  padding: 1rem 1.5rem;
  border-radius: $radius;
  margin-right: 2rem;
  font-weight: 500;
  font-size: 1.6rem;
}

.btn--primary {
  background: $white-color;
  color: black;

  &:hover {
    color: rgba(0, 0, 0, 0.7);
  }
}

.btn--secondary {
  border: 1px solid $white-color;
  color: $white-color;
}

.hero__img {
  width: 35rem;
}

.img--round {
  border-radius: 50%;
}

// About
#about {
  .about {
    &__container {
      text-align: center;
    }

    &__heading {
      display: flex;
      justify-content: space-evenly;
      font-size: 2.8rem;
    }

    &__subheading {
      font-size: 2rem;
      color: gray;
      line-height: 1;
    }

    &__text {
      margin: 2rem 0;

      p {
        line-height: 1.6;
      }
    }
  }
}

// cards
.cards {
  display: flex;

  .card {
    background-color: white;
    margin: 0 1.1rem;
    padding: 3rem;
    text-align: left;
    border-radius: $radius;
    width: 33%;

    h3 {
      color: black;
      font-size: 2.2rem;
    }

    &__description {
      color: black;
      margin-bottom: 2rem;
    }

    & .underline {
      color: black;

      &:hover {
        opacity: 0.7;
      }
    }

    &__cta {
      font-size: 1.5rem;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
        color: gray;
      }
    }

    &__icons {
      display: flex;
      margin-bottom: 1.5rem;
    }

    &__icon {
      font-size: 3.8rem;
      margin-right: 1.5rem;

      i {
        color: gray;

        &:hover {
          color: black;
        }
      }
    }
  }
}

.line {
  border: 1px solid $text-color;
  opacity: 0.7;
  width: 119rem;
  border-radius: $radius;
  margin: auto;
}

// Footer
.footer {
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-name {
    color: white;
    font-weight: 500;
  }

  .copyright {
    text-align: center;
    padding: 2rem 0;
  }

  &__left {
    width: 50%;

    p {
      margin-top: 1.5rem;
    }
  }

  &__name {
    display: flex;
    align-items: center;

    h4 {
      font-size: 1.9rem;
    }
  }

  &__img {
    width: 7rem;
    margin-right: 1.4rem;
  }

  &__socials {
    margin-top: 1rem;
  }

  &__icon i {
    font-size: 3rem;
    margin-right: 1rem;
  }

  &__right {
    h3 {
      font-size: 1.8em;
      margin-bottom: 1.2rem;
    }

    .footer__links {
      flex-direction: column;

      li {
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
}

// Links
.links {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
